@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #182E44;
}

.active {
    /* background: #EDF3FC; */
    color: red;
}

.filter {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #182e4432;
}

input {
    border: none;
    outline: none;
}